.choice_container {
        display: flex;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 1.8rem;
        border: 0.1rem solid;
        background-color: white;
}

.choice_prefix {
        padding: 1.5rem 2.5rem;
        background-color: #f5e956;
        color: white;
}

.choice_text {
        padding: 1.5rem;
        justify-content: center;
}

.choice_container:hover {
        cursor: pointer;
        transform: translatey(-0.1rem);
        transition: transform 150ms;
}

.correct {
        background-color: #2bf279;
}
.incorrect {
        background-color: #ee0909;
}

#hub {
 display: flex;
 justify-content: space-around;
}

.hub-prefix {
 text-align: center;
 font-size: 3rem;
}

.hub-text {
 text-align: center;
}
